<div class="pb-1">

<figure>
  <blockquote class="blockquote">
    <%= comment.body %>
  </blockquote>
  <figcaption class="blockquote-footer text-white-50">
    <%= comment.commenter %>
  </figcaption>
</figure>


  <%= link_to "Delete Comment", [comment.article, comment], 
    data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
          } , class: 'w-100 p-1 btn btn-outline-danger text-white border border-danger' %>

    <hr>
</div>